/* DetalleAgentes.css */
.carddetalle {
    width: 80%;
    max-width: 800px; /* Limita el ancho máximo de la tarjeta detallada */
    background-color: #202329; /* Color de fondo similar a las tarjetas */
    border-radius: 10px;
    margin: 10px auto; /* Centra la tarjeta horizontalmente */
    text-align: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff; /* Color de texto en blanco */
  }
  
  .imagendetalle {
    width: 256px;
    height: 256px;
    object-fit: cover;
  }
  