/* Login.css */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202329;
}

.form {
  background-color: #333;
  padding: 3rem;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #ff4654;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
  background-color: #333;
  color: #fff;
  width: 100%; /* Ajusta el ancho de los inputs y el botón al 100% */
  padding: 0.75rem; /* Ajusta el espaciado interno de los inputs y el botón */
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  background-color: #ff4654;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border: none; /* Elimina el borde del botón */
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambiar el color del botón al pasar el mouse */
.submit:hover {
  background-color: #c1303a;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
