/* TarjetaAgente.css */
.imagenagente {
    width: 150px;
    height: 150px; /* Hace que la imagen sea cuadrada */
  }
  
  .shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  }
  
  .tarjetaagente {
    width: 200px; /* Aumenta el ancho para hacerlo más cuadrado */
    height: 200px; /* Hace que la tarjeta sea cuadrada */
    background-color: #202329;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    color: #ff4654; /* Color de texto similar a Valorant */
    font-size: 18px; /* Tamaño de fuente aumentado */
    margin-top: 10px; /* Espaciado superior */
    font-weight: bold;
  }
  
  /* Cambia el color del enlace al pasar el mouse */
  a:hover h2 {
    color: #c1303a; /* Color más oscuro al pasar el mouse */
  }
  